/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/07/2018, 02:15:17
    Author     : Sávio Raires
*/
* {
    box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: #7d7d7d;
}
main{
  margin-bottom: 250px;
}
hr{
  margin-top: 50px;
  margin-bottom: 50px;
  border-top: 1px solid;
  width: 390px;
  color: #664c8f;
}

label {
  font-size: 16px;
}

footer {
  width: 100%;
  font-size: 16px;
  background-color: rgba(102, 76, 143,.2);
}

.text-thin {
  font-weight: 300;
  font-size: 25px;
}

.title-super {
  font-size: 50px;
  margin-top: 60px;
  color: #664c8f;
}

.range-input {
  font-size: 20px;
  font-weight: bold;
}

.posicionamento-range {
  margin-top: 70px;
  margin-bottom: 100px;
}

.btn {
    font-size: 20px;
    width: 220px;
    background: #664c8f;
    color: #d3d3d3;
    margin-top: 30px;
    margin-bottom: 100px;
    font-family: 'Nunito', sans-serif;
}
.btn:hover {
    font-size: 20px;
    width: 220px;
    background: #7658a7;
    color: #d9d9d9;
    margin-top: 30px;
    font-family: 'Nunito', sans-serif;
}


.text-rodape {
  font-size: 16px;
  margin-top: 10px;
}

#resultado {
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 60px;
}
#range-investimento {
  -webkit-appearance: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 400px;
  height: 4px;
  border-radius: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#range-investimento::-webkit-slider-thumb {
  -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #664c8f;
    cursor: pointer;
}

#range-investimento::-moz-range-thumb  {
  width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #664c8f;
    cursor: pointer;
}

#range-duracao-investimento {
  -webkit-appearance: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 400px;
  height: 4px;
  border-radius: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#range-duracao-investimento::-webkit-slider-thumb {
  -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #664c8f;
    cursor: pointer;
}

#range-duracao-investimento::-moz-range-thumb {
  width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #664c8f;
    cursor: pointer;
}

